<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="schemaurl" value="http://localhost:1877/schema/"/>
    <add key="relationurl" value="http://localhost:1877/relation/"/>
    <add key="cannedlisturl" value="http://localhost:1877/list/"/>
  </appSettings>
</configuration>