<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mysql-connectionstring" value="Server=localhost;Database=local-identity;Uid=root;Pwd=test123!@#;"/>
    <add key="mysql-database" value="local-identity"/>
    <add key="appacitive-base-url" value="http://dev-apis.appacitive.com/v0.9/core/mysql"/>
  </appSettings>
</configuration>