<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mysql-connectionstring" value="Server=localhost;Database=lgossamercore;Uid=root;Pwd=test123!@#;"/>
    <add key="mysql-database" value="lgossamercore"/>
    <add key="appacitive-base-url" value="http://stage-apis.appacitive.com/v0.9/core"/>
  </appSettings>
</configuration>